//COLORS
$color-black: #000;
$color-white: #fff;
$color-grey:  rgb(224, 226, 230);
$color-dark-grey:rgb(66, 71, 83) ;


$color-light-purple: #9fa4c4;
$color-dark-purple: #9e768f;
$color-dark-purple-2: #805670;
$color-darker-purple: #181c38;

$color-1:rgb(98, 106, 218);
$color-2: #172066;

// GRID
$grid-width: 114rem;

$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4rem;

$gutter-vertical: 5rem;
$gutter-vertical-small: 3rem;

$default-font-size: 1.6rem;
