//COLORS
$color-black: #000;
$color-white: #fff;
$color-grey:  rgb(224, 226, 230);
$color-dark-grey:rgb(66, 71, 83) ;


$color-light-purple: #11BFFF;
$color-dark-purple: #fff;
$color-dark-purple-2: #2c51f8;
$color-darker-purple: #18226d;

// Only used on card pictures, top left (1) to bottom right (2) gradient
$color-1:#05384A;
$color-2: #05384A;

// GRID
$grid-width: 114rem;

$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4rem;

$gutter-vertical: 5rem;
$gutter-vertical-small: 3rem;

$default-font-size: 1.6rem;
